@import '../../../assets/scss/theme.scss';

.movie-details {
    display: flex;
}

.movie-details__video {
    max-height: 50vh;
    padding-bottom: 1.4rem;
    width: 100%;
}

.movie-details__related {
    width: 350px;
    min-width: 350px;
    padding-left: 2.8rem;
}

.movie-details__related__item {
    padding-bottom: 1.4rem;
}

.movie-details__details {
    padding-bottom: .75rem;
    display: flex;
    flex-direction: column;
}

.movie-details__item {
    padding-bottom: 2.8rem;
}

.movie-details__item.underline {
    // border-bottom: 1px solid #d8d8d8;
    // margin-bottom: 1.4rem;
}

.movie-details__item__subtitle {
    padding-bottom: 1.4rem;
}

.movie-details__title {
    // color: mat-color($primary);
    color: inherit;
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: .5rem;
    display: block;
}

.movie-details__date {
    color: rgba(0, 0, 0, .65);
    font-size: .9em;
    padding-bottom: .25rem;
    display: block;
}

.movie-details__models {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1.5;
    display: inline-block;
}

.movie-details__model {
    color: rgba(0, 0, 0, .5);
    font-size: .9em;
    font-weight: bold;
    padding-right: .25rem;
    text-decoration: none;
    float: left;
}

.movie-details__model:hover {
    color: rgba(0, 0, 0, .3);
}

.movie-details__categories {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: .75rem;
}

.movie-details__category:hover {
    background: rgba(245, 245, 245, 1);
    color: mat-color($primary) !important;
}

.movie-details__model a,
.movie-details__tag a {
    color: inherit;
    padding: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.movie-details__tag:hover {
    text-decoration: underline;
    color: rgba(220, 20, 60, .65);
}

.movie-details__description {
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
}

.movie-details__attachments {
    // display: flex;
    // flex-direction: row;
    // place-content: center space-between;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1.4rem;
    box-sizing: border-box;
}

.movie-details__attachment {
    position: relative;
    cursor: pointer;
}

.movie-details__attachment img {
    -webkit-transition: filter .1s ease-in-out;
    -moz-transition: filter .1s ease-in-out;
    -ms-transition: filter .1s ease-in-out;
    -o-transition: filter .1s ease-in-out;
    transition: filter .1s ease-in-out;
}

.movie-details__attachment img:hover {
    filter: grayscale(75%);
}

.movie-details__attachments:last-child {
    margin-right: 0;
}

.movie-details__attachment img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.movie-details__related__item__preview {
    width: 160px;
    height: 100px;
    object-fit: cover;
    border-radius: 2px;
}

.movie-details__related__item__details {
    padding-left: .75rem;
    width: 100%;
}

.movie-details__related__item__title {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.movie-details__related__item__title:hover {
    color: mat-color($primary);
}

.movie-details__related__item__duration {
    background-color: #eaeaea;
    color: rgba(0, 0, 0, .65);
    font-size: .8em;
    border-radius: 2px;
    padding: .35rem;
    text-align: center;
}
