<div class="video-container" *ngIf="movie">
    <video controls>
        <source src="https://res.cloudinary.com/dpfmyl1mn/video/upload/v1507137526/photocloud/prod/lanafeshchuk/svug6bgevnebjbndgfpt.mp4">
    </video>
    <div class="video-container__details" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title">{{movie.title}}</span>
        <a mat-button color="primary" [href]="movie.uri" target="_blank">OPEN SOURCE</a>
    </div>
    <div>
        <ul class="tags">
            <li class="tag" *ngFor="let category of movie.categories;">
                <a [routerLink]="['/recent', 1]" [queryParams]="{categories: category.name}">#{{category.name}}</a>
            </li>
        </ul>
        <div>
            <p class="description">
                {{movie.description}}
            </p>
        </div>
    </div>
</div>
