.movie-details {
    display: flex;
}

.movie-details__video {
    max-height: 50vh;
    padding-bottom: 1.4rem;
    width: 100%;
}

.movie-details__related {
    width: 350px;
    min-width: 350px;
    padding-left: .75rem;
}

.movie-details__details {
    padding-bottom: .75rem;
    display: block;
}

.movie-details__title {
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: .75rem;
    display: block;
}

.movie-details__models {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1.5;
    display: inline-block;
}

.movie-details__model {
    color: rgba(0, 0, 0, .65);
    font-weight: lighter;
    font-size: 1.2em;
    padding-right: .25rem;
    text-decoration: none;
    float: left;
}

.movie-details__tags {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1.5;
    display: inline-block;
}

.movie-details__tag {
    color: rgba(220, 20, 60, .87);
    padding-right: .25rem;
    text-decoration: none;
    float: left;
}

.movie-details__model a,
.movie-details__tag a {
    color: inherit;
    padding: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.movie-details__tag:hover {
    text-decoration: underline;
    color: rgba(220, 20, 60, .65);
}

.movie-details__description {
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
}
