<div class="movie-details" *ngIf="movie">
    <div>
        <video class="movie-details__video" [poster]="movie.attachments[0].uri" controls loop>
            <source [src]="uri">
        </video>
        <div class="movie-details__details">
            <div class="movie-details__item underline" fxLayout="row" fxLayoutAlign="space-between start">
                <div>
                    <span class="movie-details__title">{{movie.title}}</span>
                    <ul class="movie-details__models">
                        <li class="movie-details__model" *ngFor="let model of movie.models;">
                            <a [routerLink]="['/recent', 1]" [queryParams]="{models: model.modelId}">{{model.name}}</a>
                        </li>
                    </ul>
                </div>
                <a mat-button [href]="movie.uri" target="_blank" disabled>OPEN SOURCE</a>
            </div>
            <!-- <div class="movie-details__item">
                <ul class="movie-details__tags">
                    <li class="movie-details__tag" *ngFor="let category of movie.categories;">
                        <a [routerLink]="['/recent', 1]" [queryParams]="{categories: category.name}">#{{category.name}}</a>
                    </li>
                </ul>
            </div> -->
            <!-- <div class="movie-details__item">
                <button mat-button *ngFor="let category of movie.categories;">
                    {{category.name}}
                </button>
            </div> -->
            <div class="movie-details__item">
                <h3 class="movie-details__item__subtitle">Description</h3>
                <p class="movie-details__description">
                    {{movie.description}}
                </p>
            </div>
            <div class="movie-details__item">
                <h3 class="movie-details__item__subtitle">Categories</h3>
                <div class="movie-details__categories">
                    <a mat-flat-button color="accent" *ngFor="let category of movie.categories;" [routerLink]="['recent', 1]" [queryParams]="{categories: category.name.toLowerCase()}">
                        {{category.name}}
                    </a>
                </div>
            </div>
            <div class="movie-details__item" *ngIf="movie.attachments.length > 1">
                <h3 class="movie-details__item__subtitle">More scenes from movie</h3>
                <div class="movie-details__attachments">
                    <div class="movie-details__attachment" *ngFor="let attachment of movie.attachments">
                        <img [src]="attachment.uri" alt="attachment{{attachment.attachmentId}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="movie-details__related">
        <h3 class="movie-details__item__subtitle">Related movies</h3>
        <div class="movie-details__related__item" fxLayout="row" *ngFor="let item of (relatedMovies | async)?.data">
            <img class="movie-details__related__item__preview" [src]="item.attachments[0].uri" alt="{{movie.title}}">
            <div class="movie-details__related__item__details" fxLayout="column" fxLayoutAlign="space-between start">
                <a class="movie-details__related__item__title">{{item.title}}</a>
                <div class="movie-details__related__item__duration">
                    {{movie.duration}}
                </div>
            </div>
        </div>
    </aside>
</div>
