<header class="header" fxLayout="row" fxLayoutAlign="space-between start">
    <div class="header__logo infinite fadeInRight delay-2s" fxLayout="row" fxLayoutAlign="start center" [ngClass]="{ 'animated' : !opened }" *ngIf="!opened">
        <mat-icon mat-ripple style="cursor: pointer; position: relative; margin-right: .75rem;" (click)="showMenu()">menu</mat-icon>
        <h1>
            <a routerLink="/">Movies</a>
        </h1>
    </div>
    <div class="header__widgets" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="currentUser">
        <form class="header__search-form" (ngSubmit)="searchMovies()" [formGroup]="formGroup">
            <mat-icon class="search-form__icon">search</mat-icon>
            <input class="search-form__input" #searchInput formControlName="searchQuery" type="text" placeholder="Search movies"
                (blur)="searchFocusLost()">
        </form>
        <div fxLayout="row" fxLayoutAlign="start center">
            <span style="font-weight: bold; margin-right: .75rem; font-size: .9em;">{{currentUser.email}}</span>
            <button class="account-button" [matMenuTriggerFor]="userMenu">
                <img class="account-button__avatar" [src]="currentUser.picture" alt="user-avatar" />
            </button>
        </div>
    </div>
    <button mat-flat-button (click)="signIn()" color="primary" *ngIf="!currentUser">Sign In</button>
</header>
<mat-menu #userMenu="matMenu" yPosition="below" style="position: absolute;">
    <button mat-menu-item (click)="signOut()">Logout</button>
</mat-menu>
