.header {
    background: white; // box-shadow: 0 3px 8px -4px rgba(0, 0, 0, .26);
    padding: .7rem;
    position: relative;
}

.header a {
    color: inherit;
    text-decoration: none;
}

.search {
    font-family: sans-serif;
    border: none; // background-color: #f7f7f7;
    // border-radius: 2px;
    // border-left: 1px solid #d8d8d8;
    font-size: 1.1em;
    padding: .7rem;
    outline: none;
    width: 90%;
    opacity: 0;
    -webkit-transition: width 1.35s ease-in-out;
    -moz-transition: width 1.35s ease-in-out;
    -ms-transition: width 1.35s ease-in-out;
    -o-transition: width 1.35s ease-in-out;
    transition: width 1.35s ease-in-out;
}

.search.active {
    opacity: 1;
    width: 100%;
}

.navigation .active {
    border-bottom: 2px solid crimson;
    border-right: none;
    border-radius: 0;
}
