<header class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <div style="min-width: calc(240px - 0.7rem);" fxLayout="row" fxLayoutAlign="start center" *ngIf="!showSearchBar || !mobile">
        <div style="padding-right: .7rem;">
            <button mat-icon-button (click)="showMenu()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div fxLayout="row" *ngIf="!mobile">
            <a routerLink="/">
                <h1>Movies</h1>
            </a>
            <span style="color: crimson; font-weight: bold; font-size: 2em;">.</span>
        </div>
    </div>
    <div class="container">
        <div style="max-width: 50%;">
            <form (ngSubmit)="searchMovies()" [formGroup]="formGroup" style="display: inline-flex;">
                <input class="search" #searchInput formControlName="searchQuery" type="text" placeholder="Search" (blur)="searchFocusLost()">
                <button mat-flat-button type="submit" style="border: none; width: 140px;">
                    <mat-icon>search</mat-icon>
                </button>
            </form>
        </div>
    </div>
    <button mat-button fxLayout="row" fxLayoutAlign="center center" [matMenuTriggerFor]="appMenu" *ngIf="currentUser">
        <span style="font-size: .9em; padding-right: .5rem;">{{currentUser.email}}</span>
        <img style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;" [src]="currentUser.picture" alt="user-avatar"/>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="signOut()">Logout</button>
        </mat-menu>
    </button>
    <button mat-flat-button (click)="signIn()" color="primary" *ngIf="!currentUser">Sign In</button>
</header>
