.signin__container {
    width: 400px;
    padding: 1.4rem;
}

.signin__container header {
    text-align: center;
    padding-bottom: 2.8rem;
}

.signin__container mat-form-field {
    width: 100%;
}

.signin__btn {
    width: 100%;
}

.signin__btn.primary {
    margin-bottom: 1.4rem;
}
