<ng-progress [speed]="500" [meteor]="true" [spinner]="false" [color]="'#e91e63'" [trickleSpeed]="300" [thick]="false"></ng-progress>
<div class="page-wrapper" fxLayout="column" fxLayoutAlign="start center">
    <header class="header" fxLayout="row" fxLayoutAlign="center center">
        <div style="width: 100%;">
            <movies-header (menuOpened)="openMenu()"></movies-header>
        </div>
    </header>

    <main class="main">
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav class="sidenav" [mode]="menuMode" [opened]="menuOpened">
                <div *ngIf="currentUser | async">
                    <div style="padding-top: 2.8rem;">
                        <movies-studios-filter></movies-studios-filter>
                    </div>
                    <div style="padding-top: 2.8rem;">
                        <movies-categories-filter></movies-categories-filter>
                    </div>
                </div>
                <footer class="footer" fxLayout="row" fxLayoutAlign="center center">
                    <div class="container">
                        <span class="copyright">© 2018 Movies</span>
                    </div>
                </footer>
            </mat-sidenav>
            <mat-sidenav-content style="height: calc(100vh - 60px); padding: 2.8rem 1.4rem 1.4rem; box-sizing: border-box;" fxLayout="row" fxLayoutAlign="center start">
                <div class="container" *ngIf="currentUser | async">
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </main>
</div>
