<div class="page-wrapper" fxLayout="column" fxLayoutAlign="start center">
    <header class="header" fxLayout="row" fxLayoutAlign="center center">
        <div style="width: 100%;">
            <movies-header></movies-header>
        </div>
    </header>

    <main class="main" fxLayout="row" fxLayoutAlign="center start">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>

    <footer class="footer" fxLayout="row" fxLayoutAlign="center center">
        <div class="container">
            <span class="copyright">© 2018 Movies</span>
        </div>
    </footer>
</div>
