<div class="movie">
    <div class="movie__preview" mat-ripple>
        <img [src]="movie.attachments[0].uri">
    </div>
    <div class="movie__footer">
        <a class="movie__footer__title" [routerLink]="['/scene', movie.movieId]">{{movie.title}}</a>
        <div class="movie__footer__details">
            <a class="movie__footer__studio" [routerLink]="['/recent', 1]" [queryParams]="{studios: movie.studio.studioId}">{{movie.studio.name}}</a>
            <span class="movie__footer__time" [routerLink]="['/recent', 1]" [queryParams]="{date: movie.date}">{{movie.date | date : 'longDate'}}</span>
        </div>
    </div>
</div>
