@import '../../../../assets/scss/theme.scss';

.movie__preview {
    width: 100%;
    padding-top: 66.66%;
    position: relative;
    cursor: pointer;
}

.movie__preview img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.movie__footer {
    padding-top: .75rem;
    display: flex;
    flex-direction: column;
}

.movie__footer__title {
    // color: mat-color($primary);
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: .75rem;
    cursor: pointer;
}

.movie__footer__details {
    display: flex;
    flex-direction: row;
    place-content: center space-between;
}

.movie__footer__time,
.movie__footer__studio {
    font-weight: lighter;
    color: rgba(0, 0, 0, .65);
    font-size: .9em;
}

.movie__footer__studio {
    cursor: pointer;
    text-decoration: none;
}

.movie__footer__studio:hover {
    color: rgba(0, 0, 0, .5);
}
