.movies-header {
    padding-bottom: 2.8rem;
}

.movies-title {
    font-weight: bold;
    color: rgba(0, 0, 0, .87);
}

.movies-header .button {
    color: rgba(0, 0, 0, .65);
    background-color: #eaeaea;
}

.movie-details-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .16);
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.movie-details .attachment:hover .movie-details-overlay {
    opacity: 1;
}

.movies-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.movie-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px; // width: 300px;
    // height: 200px;
    // box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.26);
    cursor: pointer;
}

.movie-item:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.movie-thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 2px;
}

.movie-duration {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .26);
    color: rgba(255, 255, 255, .87);
    padding: .25rem;
}

footer.movie-details {
    padding: .75rem 0;
    box-sizing: border-box;
    max-height: 50px;
}

.movie-link {
    line-height: 1.5;
    color: inherit;
    text-decoration: none;
    color: rgba(0, 0, 0, .65);
}

.movie-link:hover {
    text-decoration: underline; // color: rgba(0, 0, 0, .87);
    color: rgba(220, 20, 60, .87);
}

.movies-footer {
    padding: 4.2rem 0 1.4rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.movie-content {
    min-height: 100%;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.movie-content__movies {
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 110px;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;

}

.movie-content__movies.movie-content__movies--inactive {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    opacity: .5;
    pointer-events: none;
}
