<div class="movie-content">
    <header class="movies-header">
        <div fxLayout="row">
            <h1>
                <a routerLink="/">
                    Movies
                </a>
            </h1>
        </div>
    </header>
    <!-- <header class="movies-header" fxLayout="row" fxLayoutAlign="space-between start">
        <h3 class="movies-title">LATEST UPDATES
            <ng-container *ngIf="movies?.total">({{movies.total}})</ng-container>
        </h3>
    </header> -->
    <div class="movie-content__movies" [ngClass]="{ 'movie-content__movies--inactive' : isLoading}">
        <div *ngIf="movies && movies.data;">
            <div class="movies-gallery">
                <div *ngFor="let movie of movies.data; trackBy: trackMovie;">
                    <movies-movie-item [movie]="movie"></movies-movie-item>
                </div>
            </div>
        </div>
    </div>
    <footer class="movies-footer" fxLayout="row" fxLayoutAlign="center center" *ngIf="movies && movies.data && movies.size < movies.total">
        <movies-pagination [pageSize]="movies.size" [total]="movies.total" [currentPage]="pageIndex" (changed)="pageChanged($event)"></movies-pagination>
    </footer>
</div>
